* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.first-section {
    background-color: #1F2937;

}

#header-logo {
    font-size: 24px;
    color: #FAF9F8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar, ul {
    display: flex;
}

.navbar-left,.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.hero {
    display: flex;
    margin: 50px;
}

.hero h1 {
    font-size: 48px;
    color: #FAF9F8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #FAF9F8;
}

.hero-left,.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

img {
    margin: 50px;
}