* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar-section {
    background-color: #1F2937;
    padding-bottom: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#header-logo {
    font-size: 24px;
    color: #FAF9F8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar-left,.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

ul {
    display: flex;
}

.first-section {
    background-color: #1F2937;
    margin-bottom: 50px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.hero h1 {
    font-size: 48px;
    color: #FAF9F8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #FAF9F8;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding: 10px;
}

.hero-right {
    width: 50%;
    background-color: #1F2937;
}

.hero-right img {
    margin: 100px 0;
}

.sign-up-first-section {
    background-color: #3882F6;
    color: #FAF9F8;
    width: 120px;
    height: 35px;
    border-radius: 10px;
}

.second-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.box-blue {
    border: 3px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container p {
    text-align: center;
}